@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-app {
  color: rgba(0, 0, 0, 0.90);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
